/**
 * Base
 */

@font-face {
    font-family: "Manrope";
    src: url(./fonts/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Flow Circular";
    src: url(./fonts/FlowCircular-Regular.ttf);
}

:root {
    --font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--font-family-emoji);
    --font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(--font-family-emoji);
    --font-family-manrope: "Manrope", var(--font-family-sans-serif);
    /* --font-family: var(--font-family-sans-serif); */
    --font-family: var(--font-family-manrope);
    --spacing: 1rem;
    --grid-column-gap: var(--spacing);
    --grid-row-gap: var(--spacing);
    --border-radius: 2rem;
    --border-width: 0.0625rem;
    --outline-width: 0.125rem;


    --white: #fff;
    --black: #000;
    --red: #EF3E36;
    --blue: #3e92cc;
    --gray-light: #e3f2fd;
    --gray-dark: #313131;
    --blue-outline: #147fc9;
    --gray-light-outline: #b9ddf7;
}

/**
 * Defaults
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
}

main {
    display: block;
}

/**
 * Container
 */
.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}

/**
 * Grid
 * Minimal grid system with auto-layout columns
 */
.grid-row {
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
    display: grid;
    grid-template-columns: 1fr;
}

/* @media (min-width: 768px) { */
@media (min-width: 576px) {
    .grid-row {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}

.grid-row>* {
    min-width: 0;
}

/**
 * Typography
 */
p,
small,
marquee,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: var(--font-family);
}

marquee {
    font-size: 32px;
}

/**
 * Embedded content
 */
:where(iframe, img, svg) {
    vertical-align: middle;
}

:where(iframe) {
    border-style: none;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

/**
 * Customs
 */
header,
main,
footer {
    margin-top: var(--spacing);
}



.msg {
    color: var(--white);
    font-size: 1.25rem;
    margin-top: -2.25rem;
    margin-left: auto;
    margin-right: auto;
}

.msg.red {
    margin-top: 1rem;
    color: var(--red);
    background-color: #000;
    padding: 0.5rem;
    border-radius: 0rem;
    font-size: 2rem;
}

.msg-container-bottom { 
    position: absolute;
}

.msg-page-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: calc(var(--spacing)*8);
}

.hide {
    display: none;
}

.header-img {
    display: flex;
    background-color: var(--blue);
    padding: var(--spacing) calc(var(--spacing)*2);
    border-radius: 2rem;
    border: var(--outline-width) solid var(--blue-outline);
}

.header-img img {
    margin-left: auto;
    margin-right: auto;
}

.table {
    background-color: var(--gray-light);
    border-radius: 2rem;
    padding: calc(var(--spacing)*2) 0rem;
    border: var(--outline-width) solid var(--gray-light-outline);
    text-align: center;
}

.table>.table-column>h1.table-header {
    padding-bottom: var(--spacing);
}

.table>.table-column>h1.table-header,
.table>.table-column>.table-column .grid-row h2 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 4.45rem;
}

.table>.table-column>.table-column .grid-row :has(#gosnum) h2 {
    line-height: 3.75rem;
    margin-bottom: -0.5rem;
} 


/**
 * Animations
 */
.flow {
    color: var(--gray-light);

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: flow;
    animation-timing-function: ease-in-out;
}

.flow h2 {
    font-family: "Flow Circular";
    font-size: 4rem !important;
    line-height: 1.025;
}

.flow small {
    font-family: "Flow Circular";
    font-size: 1.5rem !important;
    line-height: 0;
}

@keyframes flow {
    0% {
        color: var(--gray-light-outline);
    }

    100% {
        color: var(--gray-light);
    }
}

.updated {
    color: var(--blue);
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: updated;
    animation-timing-function: ease-in-out;
}

@keyframes updated {
    0% {
        color: var(--red);
    }

    100% {
        color: var(--black);
    }
}

/**
 * Media
 */
@media (max-width: 768px) {
    .table>.table-column>.table-column {
        --grid-row-gap: 0.25rem;
    }

    .table>.table-column>h1.table-header {
        padding-bottom: calc(var(--spacing)/2);
    }
    
    .table>.table-column>h1.table-header,
    .table>.table-column>.table-column .grid-row h2 {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 2.5rem;
    }
    
    .table>.table-column>.table-column .grid-row h2 {
        margin-bottom: -0.275rem;
    }

    .flow h2 {
        font-family: "Flow Circular";
        font-size: 2rem !important;
        line-height: 1.05;
    }
    
    .flow small {
        font-family: "Flow Circular";
        font-size: 1.25rem !important;
        line-height: 0;
    }

    .msg {
        margin-top: -1rem;
        font-size: 0.5rem;
    }
}
 
@media (min-width: 576px) {
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 768px;

    }
}

@media (min-width: 1280px) {
    .container {
        /* max-width: 1024px; */
        /* special for 1280x1024 monitor */
        max-width: calc(1280px - 2rem);
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}